body {
  font-family: "Avenir", "Tahoma", "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .content {
    width: 650px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .sidebar {
    width: 175px;
  }
  .content {
    width: 850px;
  }
}

.logo {
  margin: 22 0 20 45;
  width: 130px;
}

.sidebar {
  background-color: white;
  /* border-right: 1px solid #c1c1c1; */
  height: 100%;
  position: absolute;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  padding-top: 12px;
  font-size: 18px;
  margin-left: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.sidebar ul li:hover {
  background-color: #eeeeee;
}

body .container .sidebar ul a {
  text-decoration: none;
}

.content {
  position: absolute;
  margin-left: 220px;
}

.method .title {
   background-color: #F1F1F1;
   padding: 5 10 5 10;
   border-radius: 2px;
   margin-left: 20px;
   display: block;
   margin-top: -25px;
}

.method .prefix {
  font-size: 20px;
  color: #949494;
}

.class_name {
  background-color: #F1F1F1;
  padding: 10;
}

.source {
  text-align: right;
}

.method-comment {
  margin-left: 30px;
}

pre code.plain {
  background-color: #e6e6e6;
  display: block;
  border-radius: 2px;
  line-height: 20px;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}

code {
  background-color: #e6e6e6;
  border-radius: 2px;
  line-height: 20px;
  padding: 2 6 3 6;
}
